<div class="container">
  <h3><%= current_user.username %></h3>
  <p><%= current_user.email %></p>

  <div class="favorites">
    <h3>Favorites</h3>
    <div class="card-columns">
        <% @favorites.each do |favorite| %>
          <%= link_to artwork_path(favorite) do %>
            <%#= render 'artworks/card-artwork', artwork: favorite.artwork %>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="collections mt-3">
    <h3>Collections</h3>
    <% @tags.each do |tag| %>
      <div class="d-flex m-3">
        <div class="collection-image"><%= image_tag current_user.saved_artworks_for(tag).last.photo, alt: "#" %></div>
        <div>
          <%= tag %>
        </div>
      </div>
    <% end %>
  </div>
</div>
