<div class="container">
  <div class="user-content">
    <h3><%= current_user.username %></h3>
    <p><%= current_user.email %></p>

<div class="top-and-bottom-border"></div>
      <div class="open-tab-buttons">
        <button class="activity-btn active" id="btn-left"> Collections </button>
        <button class="activity-btn" id="btn-right" > Saved Galleries </button>
    </div>

    <div id="content-left">
      <div class="collections mt-3">
        <% @tags.each do |tag| %>
          <%= link_to collection_path(tag) do %>
            <div class="collection-thumb d-flex">
              <% if current_user.saved_artworks_for(tag).last %>
                <div class="collection-image"><%= cl_image_tag current_user.saved_artworks_for(tag).last.photo, alt: "#" %></div>
              <% else %>
                <div class="collection-image"><i class="fas fa-palette"></i></div>
              <% end %>
              <div class="collection-tag-link">
                <p><%= tag %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="content-right">
      <div class="collections mt-3">
        <% current_user.favorites.each do |favorite| %>
          <%= link_to viewing_location_path(favorite.viewing_location) do %>
            <div class="collection-thumb d-flex">
              <% if current_user.favorites %>
                <div class="collection-image"><%= cl_image_tag favorite.viewing_location.photo, alt: "#" %></div>
              <% end %>
              <div class="collection-tag-link">
                <p><%= favorite.viewing_location.name %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
