<div class="container">

<h3>Comments</h3>

<% @artwork.comments.each do |comment| %>
  <div class="comment-flex">
    <div class="name-comment">
      <p><strong><%= comment.user.username %></strong>
      <br> <%= comment.content %></p>
    </div>
    <div class="edit-delete">
      <%= link_to "<i class=\"fas fa-pencil-alt\"></i>".html_safe, edit_artwork_comment_path(@artwork.id, comment.id) %>
      <%= link_to "<i class=\"far fa-trash-alt\"></i>".html_safe, comment_path(comment.id), method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
  </div>
<% end %>

<div class="comment-input">
<%= simple_form_for [ @artwork, @comment] do |f| %>
  <%= f.error_notification %>
  <%= f.input :content, label: false, placeholder: "New comment..." %>
   <%= f.button :submit, class: "btn-flat new-comment-btn" %>
<% end %>
</div>
</div>
