<div class="container">
  <div class="details-head">
    <div class="headings">
      <div class="art-title"><%= artwork.title %></div>
      <div class="artist-name"><%= artwork.artist.name %></div>
    </div>
    <div class="fave-save">
      <% if current_user.saved?(artwork) %>
          <div class="fave-save-icon"><i class="fas fa-heart" style="color: #F85961"></i></div>
      <% else %>
          <div class="fave-save-icon"><i class="far fa-heart" style="color: black"></i></div>
      <% end %>
    </div>
  </div>

  <div class="details-body">
    <div class="description">
      <p><%= artwork.date_of_creation %> </p>
      <p><%= artwork.viewing_location.name %></p>
      <p> This <%= artwork.category.downcase %> is <%= artwork.medium.downcase %> </p>
    </div>
    <% if artwork.artist.artworks.count > 1%>
      <h3>All work by <%= artwork.artist.name %>:</h3>
      <div class="other-art-by-artist">
        <% artwork.artist.artworks.each do |artwork| %>
          <%= link_to artwork_path(artwork) do %>
            <div class="artwork-thumbnail"><%= cl_image_tag artwork.photo %></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
<div class="all-screen">
  <div class="save-modal">
    <h3 class="which-collection">In which collection would you like to save "<%= artwork.title %>"?</h3>
    <div>
      <% @tags.each do |tag| %>
        <%= link_to artwork_saved_artworks_path(artwork, {saved_artwork: {tag: tag}}), method: :post do %>
          <div class="collection-thumb d-flex">
            <% if current_user.saved_artworks_for(tag).last %>
              <div class="collection-image"><%= cl_image_tag current_user.saved_artworks_for(tag).last.photo, alt: "#" %></div>
            <% else %>
              <div class="collection-image"><i class="fas fa-palette"></i></div>
            <% end %>
            <div class="collection-tag-link">
              <p><%= tag %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <h3 class="new-collection">New collection</h3>
    <div class="new-collection-form">
      <%= simple_form_for @saved_artwork, url: artwork_saved_artworks_path(artwork) do |f| %>
        <%= f.input :tag, label: false, placeholder: "New collection name" %>
        <%= f.submit "Create Collection", class: "btn-flat new-comment-btn" %>
      <% end %>
    </div>
  </div>
</div>

