<%= image_tag artwork.photo, alt: "#" %>
<div class="container">
  <div class="details-head">
    <div class="headings">
      <div class="art-title"><%= artwork.title %></div>
      <div class="artist-name"><%= artwork.artist.name %></div>
    </div>
    <div class="fave-save">
      <% if current_user.favorited?(artwork) %>
        <%= link_to favorite_path, method: :delete do %>
          <div class="fave-save-icon"><i class="fas fa-heart" style="color: #F85961"></i></div>
        <% end %>
      <% else %>
        <%= link_to artwork_favorites_path(artwork), method: :post do %>
          <div class="fave-save-icon"><i class="far fa-heart" style="color: black"></i></div>
        <% end %>
      <% end %>
      <% if current_user.saved?(artwork) %>
          <div class="fave-save-icon"><i class="fas fa-bookmark" style="color: #F85961"></i></div>
      <% else %>
          <div class="fave-save-icon"><i class="far fa-bookmark" style="color: black"></i></div>
      <% end %>
    </div>
  </div>

  <div class="details-body">
    <p class="description"> <%= artwork.description %></p>
  </div>

</div>
<div class="all-screen">
  <div class="save-modal">
    <h3>In which collection would you like to save "<%= artwork.title %>"?</h3>
    <div>
      <% @tags.each do |tag| %>
        <%= link_to artwork_saved_artworks_path(artwork, {saved_artwork: {tag: tag}}), method: :post do %>
          <div class="d-flex">
            <div class="collection-image"><%= image_tag current_user.saved_artworks_for(tag).last.photo, alt: "#" %></div>
            <div>
              <%= tag %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <h3>New collection</h3>
    <div class="new-collection-form">
      <%= simple_form_for @saved_artwork, url: artwork_saved_artworks_path(artwork) do |f| %>
        <%= f.input :tag, label: false, placeholder: "Please name your new collection" %>
        <%= f.submit "Create" %>
      <% end %>
    </div>
  </div>
</div>

